default: &default
      adapter: postgresql
      encoding: unicode
      pool: 5

development:
  <<: *default
  database: db/development
  username: deploy
  password: admin
  host: localhost


test:
  <<: *default
  database: db/test
  username: deploy
  password: admin
